@import 'assets/scss/global';

.is-margin-top {
    margin-top: 100px;
}

.cups {
    &:hover {
        @include testShadow();
    }
}


.rulers {
    z-index:100;
    @include size(900%, $rulerWeight);
    background-color: $rulerCol;
    position: absolute;
    margin-top: $rulerHeight;
    transform: translateX(-500px);
}
