@import 'assets/scss/global';

.is-margin-top {
    margin-top: 100px;
}

.cups {
    &:hover {
        @include testShadow();
    }
}


.ko {
    @include typo($size-2, $weight-bold, $line-height-2, $letter-spacing-2, center);
}

.en {
    @include typo($size-4, $weight-medium, $line-height-3, $letter-spacing-3, center);
}

.rulers {
    z-index:100;
    @include size(900%, $rulerWeight);
    background-color: $rulerCol;
    position: absolute;
    margin-top: $rulerHeight;
    transform: translateX(-500px);
}
