
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div *ngFor="let cup of cups" class="column is-3 has-text-centered" >
        <div class="columns is-multiline is-margin-top">
          <div class="column is-12 cups is-paddingless"
            [class.hover-leave]="curHoverCupId === cup.id"
            (mouseleave)="cupUp(cup)"
             (click)="gotoDetail(cup.id)">
              <figure class="image"> 
                <img [src]="'/assets/images/cups/'+ cup.imgUrls +'.png'">
              </figure>
          </div>
          <div class="column is-12 is-paddingless cup-names">
            <p class="ko"> {{ cup.name }} </p>
            <p class="en" > {{ cup.name_eng }} </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


