
<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-10 is-offset-1">
        <p class="footer-title">{{comment}}&#8230;</p>
      </div>
      <div class="column is-10 is-offset-1">
        <div class="columns">
          <div class="column">
            <p>{{author}}</p>
            <p class="email">{{email}}</p>
          </div>
          <div class="column">
            <p><a routerLink="/source"> 활용한 데이터에 관하여 </a></p>
            <p><a routerLink="/contributing">프로젝트에 기여하기</a></p>
          </div>
          <div class="column">
            <p>{{lastUpdate}}</p>
            <img src="/assets/images/icons/cc.png" alt="license" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--
  <div class="row">
    <p class="footer-title">{{comment}}&#8230;</p>
  </div>
  <div class="row">
    <div class="col">
      <p>{{author}}</p>
      <p class="email">{{email}}</p>
    </div>
    <div class="col">
      <p><a routerLink="/source"> 활용한 데이터에 관하여 </a></p>
      <p><a routerLink="/contributing">프로젝트에 기여하기</a></p>
    </div>
    <div class="col">
      <p>{{lastUpdate}}</p>
      <img src="/assets/images/icons/cc.png" alt="license" />
    </div>
  </div>

  -->
  <!--
    <div class="columns is-multiline">
      
      <div class="column is-12">
        <p class="footer-title">{{comment}}&#8230;</p>
      </div>

      <div class="column">
        <p>{{author}}</p>
        <p class="email">{{email}}</p>
      </div>

      <div class="column">
        <p><a routerLink="/source"> 활용한 데이터에 관하여 </a></p>
        <p><a routerLink="/contributing">프로젝트에 기여하기</a></p>
      </div>

      <div class="column">
        <p>{{lastUpdate}}</p>
        <img src="/assets/images/icons/cc.png" alt="license" />
      </div>
    </div> 

</footer>
  --> 

  