<section class="section" >
  <div class="container cup-title">
      <p util-Tooltip colorName="#test" class="info-name-kor">{{ cup.name }}</p>
      <p class="info-name-eng">{{ cup.name_eng }}</p>
  </div>
</section>

    
<section class="section">
  <div class="container">
    <div class="columns">
      <!-- viewer -->
      <div class="column is-6 is-offset-1 viewer">
        <figure class="image"
            [style.background-image]="'url(/assets/images/cups/spec/'+ cup.imgUrls + '_' + imgColor.name + '.png)'"
            [style.background-size]="'contain'">
          <img class="view-info" [src]="'/assets/images/cups/spec/'+ cup.imgUrls + imgType + '.png'">
        </figure>
      </div>

      <!-- spec -->
      <div class="column is-4 spec">
        <div class="columns is-multiline">
          <!-- color -->
          <div class="column is-half"><p class="item">색상</p></div>
          <div class="column is-half has-text-right">
            <a *ngFor="let col of cup.color; let i = index;"
                [style.background-color]="col.code"
                class="button is-small color-chip"
                [class.is-active]="imgColor === col"
                (click)="changeColor(col)"
                (mouseenter)="viewColor(true, i)"
                (mouseleave)="viewColor(false, i)"
                >&nbsp;</a>
          </div>

          <div class="column is-half"><p class="item">제조국</p></div>
          <div class="column is-half"><p class="value">{{ cup.country }}</p></div>

          <div class="column is-half"><p class="item">소재</p></div>
          <div class="column is-half"><p class="value">{{ cup.material }}</p></div>

          <div class="column is-half"><p class="item">가격</p></div>
          <div class="column is-half"><p class="value">{{ cup.price }}</p> </div>
        </div>
        <!-- hover area -->
        <div class="columns is-multiline has-text-centered  hover-box">
          <div class="column is-half" [class.isHover]="imgType === '_total'"
               (mouseover)="changeView('_total')">
            <div class="columns is-multiline">
              <div class="column is-12" >
                <p class="item">전체길이</p>
              </div>
              <div class="column is-12">
                <p class="value">{{ cup.totalLength }} mm</p>
              </div>
            </div>
          </div>
          <div class="column is-half" [class.isHover]="imgType === '_diameter'"
               (mouseover)="changeView('_diameter')">
            <div class="columns is-multiline">
              <div class="column is-12"><p class="item">바깥지름</p></div>
              <div class="column is-12"><p class="value">{{ cup.externalDiameter }} mm</p> </div>
            </div>
          </div>
          <div class="column is-half" [class.isHover]="imgType === '_body'"
               (mouseover)="changeView('_body')">
            <div class="columns is-multiline">
              <div class="column is-12"><p class="item">컵 길이</p></div>
              <div class="column is-12"><p class="value">{{ cup.bodyLength }} mm</p></div>
            </div>
          </div>
          <div class="column is-half" [class.isHover]="imgType === '_stem'"
               (mouseover)="changeView('_stem')">
            <div class="columns is-multiline">
              <div class="column is-12"><p class="item">손잡이 길이</p></div>
              <div class="column is-12"><p class="value">{{ cup.stemLength }} mm</p> </div>
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="column is-half"><p class="item">공기구멍 형태</p></div>
          <div class="column is-half"><p class="value">{{ cup.airholeType }}</p></div>

          <div class="column is-half"><p class="item">공기구멍까지의 용량</p></div>
          <div class="column is-half"><p class="value">{{ cup.airholeCapacity }} ml</p> </div>

          <div class="column is-half"><p class="item">전체 용량</p></div>
          <div class="column is-half"><p class="value">{{ cup.totalCapacity }} ml</p> </div>

          <div class="column is-half">
            <p class="item">손잡이의 형태
              <span><img (click)="onModal(cup)" class="icon-info" src="assets/images/icons/more_icon@2x.png" /></span></p>
          </div>
          <div class="column is-half"><p class="value">{{ cup.stemType.name }}</p></div>

          <div class="column is-12">
            <p class="item">공식 홈페이지로 이동 
                <span class="icon-link">
                  <img (click)="openWindow(cup.officialsite)"  src="/assets/images/icons/link_hover@2x.png"/>
                </span>
            </p>
          </div>
          
        </div>
        <!-- social share feature -->
        <div class="column is-2 is-offset-10">
          <div class="columns">
            <util-social></util-social>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<!-- cup slider User Interface -->
<section class="section slider is-hidden-touch">
  <cup-slider></cup-slider>
</section>



<!-- Adavanced info : about stem -->
<div class="modal"
  [class.is-active]="isModal">
  <div (click)="onModal(cup)" class="modal-background"></div>
  <div class="modal-content">

    <div class="columns is-multiline modal-wrapper">
      <!--<div class="column is-12 has-text-centered">
        
      </div>-->
      <div class="column is-12  has-text-centered">
        <p class="modal-title"> 손잡이 형태 </p>
        <p class="modal-subtitle"> 생리컵 손잡이의 기본적인 형태를 크게 6가지로 분류한다면 <br/>
          <span class="selectedInfo">{{ cup.name }}</span>의 손잡이는 <span  class="selectedInfo">{{ cup.stemType.name }}</span>에 <span *ngIf="isNonslip"> 가까우며,</span><span *ngIf="!isNonslip"> 가깝습니다.</span></p>
          <p *ngIf="isNonslip" class="modal-subtitle is-marginless">미끄럼 방지용 요철이 있습니다.</p>
      </div>

      <div class="column has-text-centered stem-col-wrapper">
        <div class="columns is-gapless">
          <div class="column is-2 stem-col" [class.is-active-stem]="(cup.stemType.name === '뾰족한 기둥 모양')">
            <img class="stem-img"  src="assets/images/cups/stem/stem1-selected.png" alt="뾰족한 기둥 모양">
            <p class="stem-name"> 뾰족한 <br/>기둥 모양 </p>
          </div>
          <div class="column is-2 stem-col" [class.is-active-stem]="(cup.stemType.name === '납작한 기둥 모양')">
            <img class="stem-img"  src="assets/images/cups/stem/stem2-selected.png" alt="납작한 막대 모양">
            <p class="stem-name"> 납작한 <br/>막대 모양 </p>
          </div>
          <div class="column is-2 stem-col">
            <img class="stem-img" src="assets/images/cups/stem/stem3-selected.png" alt="기둥 모양">
            <p class="stem-name"> 기둥 모양</p>
          </div>
          <div class="column is-2 stem-col" [class.is-active-stem]="(cup.stemType.name === '속이 빈 기둥 모양')">
            <img class="stem-img" src="assets/images/cups/stem/stem4-selected.png" alt="속이 빈 기둥 모양">
            <p class="stem-name">속이 빈 <br/>기둥 모양 </p>
          </div>
          <div class="column is-2 stem-col" [class.is-active-stem]="(cup.stemType.name === '고리 모양')">
            <img class="stem-img"  src="assets/images/cups/stem/stem5-selected.png" alt="고리 모양">
            <p class="stem-name"> 고리 모양</p>
          </div>
          <div class="column is-2 stem-col" [class.is-active-stem]="(cup.stemType.name === '공 모양')">
            <img class="stem-img"  src="assets/images/cups/stem/stem6-selected.png" alt="공 모양">
            <p class="stem-name"> 공 모양 </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <button (click)="onModal(cup)" class="modal-close"></button>
</div>


<div class="tooltip" *ngIf="isTooltip" [ngStyle]="{'left': curTooltipPos.left+'px', 'top': curTooltipPos.top+'px'}">
   <p> {{ curTooltipInfo }} </p>
</div>

<!--<util-tooltip [pos]="tooltipPos"></util-tooltip>-->