@import 'assets/scss/global';

$imgWidth: 538px;
$imgHeight: 600px;

@mixin typo-item(){
    @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, left);
}
@mixin typo-value(){
    @include typo($size-3, $weight-medium, $line-height-3, $letter-spacing-3, right);
}

@mixin typo-hover-item(){
    @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, center);
}
@mixin typo-hover-value(){
    @include typo($size-3, $weight-medium, $line-height-3, $letter-spacing-3, center);
}



.cup-title {
    p { color: $text-color; }
    .info-name-kor { 
        @include typo($size-1, $weight-bold, $line-height-1, $letter-spacing-1, center);
    }
    .info-name-eng {
        @include typo($size-2, $weight-medium, $line-height-2, $letter-spacing-1, center);
    }
}

.viewer {
    background-repeat: no-repeat;
}


.spec{
    
    .item {
        @include typo-item();
    }
    .value {
        @include typo-value();
    }
    .color-chip {
        @include size(20px, 20px);
        @include border-radius(50%);
    }
    .img-info {
        @include size(18px, 18px);
        vertical-align: text-top;

    }


    .hover-box {
        margin: 20px 0;
        p {
            text-align: center;
        }

        .isHover {
            border: 2px solid black;
        }
    }
}




.modal-content {
    @include min-size(620px, 331px);
    @include border-radius(11px);
    background-color: #fff;
    overflow: hidden;
    .modal-wrapper {
        padding: 40px;

        .modal-title {
            @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, center);
        }
        .modal-subtitle{
            margin-top:10px;
            @include typo($size-3, $weight-medium, $line-height-3, $letter-spacing-3, center);
            span { 
                color: $selectedInfo;
                font-weight: $weight-extraBold;
            }
        }
        .stem-col {
            opacity: $inactive-opacity;
            border: solid 2px #333;
            .stem-name {
                @include typo($size-4, $weight-medium, $line-height-3, $letter-spacing-3, center);
            }

        }
        .is-active-stem {
            opacity: 1.0;
            background-color: $active-stem;
        }
    }
}




.tooltip {
    @include border-radius(10px);
    transform: translateX(-50%);
    position: absolute;
    z-index: $z-index-tooltip;
    background-color: $tooltip-bg;
    
    
    p {
        @include typo($size-4, $weight-medium, $line-height-3, $letter-spacing-3, center);
        padding: 4px 14px;
        color: $tooltip-text;
    }   
}