@import 'assets/scss/global';

$imgWidth: 300px;
$imgHeight: 450px;

p { font-size: $size-normal; }





.diameter { margin-bottom: 0;}
.area { margin: 100px auto; }

.section { 
    @include testBorder(ridge);
    .column {
        @include testBorder(ridge);
    }
    .view { 
        text-align:center;
        p { 
            color: $text-light;
            font-size: $size-small;
        }

        .vertical-text {

            // transform: scale(-1, -1);
            p { 
                display: inline-block;
                vertical-align: top;
                transform: translate(0,100%) rotate(90deg);
                transform-origin: 0 0;
                white-space: nowrap;
            }
          
        }

        figure{ 
            @include size(100%, $imgHeight);
            @include testBg();
            margin: 0 auto;

            img { 
                @include testBorder(ridge);
                @include size($imgWidth, $imgHeight);
                margin: 0 auto;
            }
        }


    }
    .info {
        
        span { padding: 4px 10px; }
        .column {
            margin-bottom: 30px;
            &:nth-of-type(1) { margin-top:40px; }
        }
        .item {
            @include testBg();

            @include size(35%, auto);
            font-weight: $text-strong;
        }
        .value {
            @include size(65%, auto);
            
            img {
                @include size(18px, 18px);
                margin-left: 10px;
            }
        }
    }
}

