@import 'assets/scss/global';

$imgWidth: 538px;
$imgHeight: 600px;

@mixin typo-item(){
    @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, left);
}
@mixin typo-value(){
    @include typo($size-3, $weight-medium, $line-height-3, $letter-spacing-3, right);
}

@mixin typo-hover-item(){
    @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, center);
}
@mixin typo-hover-value(){
    @include typo($size-3, $weight-medium, $line-height-3, $letter-spacing-3, center);
}



.column {
    @include testShadow();
}

.cup-title {
    p { color: $text-color; }
    .info-name-kor { 
        @include typo($size-1, $weight-bold, $line-height-1, $letter-spacing-1, center);
    }
    .info-name-eng {
        @include typo($size-2, $weight-medium, $line-height-2, $letter-spacing-1, center);
    }
}

.viewer {
    background-repeat: no-repeat;
}


.spec{
    
    .item {
        @include typo-item();
    }
    .value {
        @include typo-value();
    }
    .color-chip {
        @include size(20px, 20px);
        @include border-radius(50%);
    }
    .img-info {
        @include size(18px, 18px);
        vertical-align: text-top;

    }


    .hover-box {
        margin: 20px 0;
        p {
            text-align: center;
        }

        .isHover {
            border: 2px solid black;
        }
    }
}




.modal-content {
    @include min-size(620px, 331px);
    background-color: #e9e9e9;
    @include border-radius(11px);
    overflow: hidden;
    .modal-wrapper {
        padding: 40px;

        .modal-title {
            @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, center);
        }
        .modal-subtitle{
            margin-top:10px;
            @include typo($size-3, $weight-medium, $line-height-3, $letter-spacing-3, center);
            span { color: red; }
        }
        .stem-col {
            opacity:0.4;
            border: solid 2px #333;
            .stem-name {
                @include typo($size-4, $weight-medium, $line-height-3, $letter-spacing-3, center);
            }

        }
      

        .is-active-stem {
            opacity: 1.0;
            background-color: #ffff8c;
            
            

        }
    }
}