<section class="section" >
  <div class="container cup-title">
      <p class="info-name-kor">{{ cup.name }}</p>
      <p class="info-name-eng">{{ cup.name_eng }}</p>
  </div>
</section>

    
<section class="section">
  <div class="container">
    <div class="columns">
      <!-- viewer -->
      <div class="column is-6 is-offset-1 viewer">
        <figure class="image"
            [style.background-image]="'url(/assets/images/cups/spec/'+ cup.imgUrls + '_' + imgColor.name + '.png)'"
            [style.background-size]="'contain'">
          <img class="view-info" [src]="'/assets/images/cups/spec/'+ cup.imgUrls + imgType + '.png'">
        </figure>
      </div>

      <!-- spec -->
      <div class="column is-4 spec">


        <div class="columns is-multiline">
          <div class="column is-half"><p class="item">색상</p></div>
          <div class="column is-half has-text-right">
  
            <a *ngFor="let col of cup.color"
                [style.background-color]="col.code"
                class="button is-small color-chip"
                [class.is-active]="imgColor === col"
                (click)="changeColor(col)">&nbsp;</a>

          </div>

          <div class="column is-half"><p class="item">제조국</p></div>
          <div class="column is-half"><p class="value">{{ cup.country }}</p></div>

          <div class="column is-half"><p class="item">소재</p></div>
          <div class="column is-half"><p class="value">{{ cup.material }}</p></div>

          <div class="column is-half"><p class="item">가격</p></div>
          <div class="column is-half"><p class="value">{{ cup.price }} 단위</p> </div>
        </div>

        <!-- hover area -->
        <div class="columns is-multiline has-text-centered  hover-box">
          <div class="column is-half" [class.isHover]="imgType === '_total'"
               (mouseover)="changeView('_total')">
            <div class="columns is-multiline">
              <div class="column is-12" >
                <p class="item">전체길이</p>
              </div>
              <div class="column is-12">
                <p class="value">{{ cup.totalLength }} mm</p>
              </div>
            </div>
          </div>
          <div class="column is-half" [class.isHover]="imgType === '_diameter'"
               (mouseover)="changeView('_diameter')">
            <div class="columns is-multiline">
              <div class="column is-12"><p class="item">바깥지름</p></div>
              <div class="column is-12"><p class="value">{{ cup.externalDiameter }} mm</p> </div>
            </div>
          </div>
          <div class="column is-half" [class.isHover]="imgType === '_body'"
               (mouseover)="changeView('_body')">
            <div class="columns is-multiline">
              <div class="column is-12"><p class="item">컵 길이</p></div>
              <div class="column is-12"><p class="value">{{ cup.bodyLength }} mm</p></div>
            </div>
          </div>
          <div class="column is-half" [class.isHover]="imgType === '_stem'"
               (mouseover)="changeView('_stem')">
            <div class="columns is-multiline">
              <div class="column is-12"><p class="item">손잡이 길이</p></div>
              <div class="column is-12"><p class="value">{{ cup.stemLength }} mm</p> </div>
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="column is-half"><p class="item">공기구멍 형태</p></div>
          <div class="column is-half"><p class="value">{{ cup.airholeType }}</p></div>

          <div class="column is-half"><p class="item">공기구멍까지의 용량</p></div>
          <div class="column is-half"><p class="value">{{ cup.airholeCapacity }} ml</p> </div>

          <div class="column is-half"><p class="item">전체 용량</p></div>
          <div class="column is-half"><p class="value">{{ cup.totalCapacity }} ml</p> </div>

          <div class="column is-half"><p class="item">손잡이의 형태</p></div>
          <div class="column is-half"><p class="value">{{ cup.stemType }}</p></div>

          <div class="column is-half"><p class="item">공식 홈페이지로 이동</p></div>
          <div class="column is-half">
            <a [href]="cup.officialsite">
              <img src="/assets/images/icons/home.png"/>
            </a>
          </div>
        </div>

        <div class="column is-3 is-offset-9">
          <div class="columns">
            <div class="column is-3">
              <a [href]="cup.officialsite">
                <img src="/assets/images/icons/facebook_sketch.png"/>
              </a>
            </div>
            <div class="column is-3">
              <a [href]="cup.officialsite">
                <img src="/assets/images/icons/twitter_sketch.png"/>
              </a>
            </div>
            <div class="column is-3">
              <a [href]="cup.officialsite">
                <img src="/assets/images/icons/instagram_sketch.png"/>
              </a>
            </div>
            <div class="column is-3">
              <a [href]="cup.officialsite">
                <img src="/assets/images/icons/share.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="section slider">
  <cup-slider></cup-slider>
</section>
