@charset "utf-8";

//z-index
$z-index-search: 400;
$z-index-nav: 200;
$z-index-main: 100;

//compute size (with per)





* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.search {
    z-index: $z-index-search;
    


    @include size($base, auto);
    @include flex(flex, row nowrap);
    justify-content: stretch;
    margin: 35px auto 0;
    position: absolute; 

    overflow-x: hidden;   


    .blank { 
        @include size(percentage(662px/$base), auto);
        flex-shrink: 5;
    }
    .search-box {
        @include size(percentage(238px/$base), auto);
        @include flex(flex, row nowrap);
    }
    
}

.nav {
        z-index: $z-index-nav;
        @include size($base, auto);
        margin: 35px auto 0;

        .nav-item { 
            img {  min-height: 50px; }   
        }
}
.main { 
        z-index: $z-index-main;
        @include size($base, auto);
        margin: 168px auto 25px;
 }
 .container { 
        @include size($base, auto);
        margin: 0 auto;
 }



.footer {
    @include size(100%, 166px);
    img {
        @include size(auto, 24px);
    }
}