@import 'assets/scss/global';
$slide-ruler-margin: -77px;



.slider-title {
	font-size: 18px;
	font-weight: 800;
	line-height: 1.39;
	letter-spacing: 0.6px;
	color: $text-item;
}

.slider-container {
  @include size($base, auto);
  @include flex(flex, row nowrap);
  justify-content: space-between;
  
  .dir {  
    @include size(12.6px, 25.2px);
    margin: 0 auto;
    align-self: center;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }


  .sliders {
    @include size(835px, auto);
    @include flex(flex, row nowrap);
    justify-content: space-around;
    overflow:hidden;
    margin: 0 34.5px;

    .slider-item {
        @include size(162px, 300px);
        flex-shrink: 0;
        margin: 2px;

        .image { 
          @include size(160px, 256px);
          .rulers {
            z-index:500;
            @include size(100%, 2px);
            position: absolute;
            margin-top: $slide-ruler-margin;
            background-color: #222;
          }
        }
        
        p { 
          color: $text-color;
          text-align: center;
        }
        .ko { 
            font-size: 18px;
            font-weight: $weight-boldest;
            line-height: 1.39;
            letter-spacing: 1px;
        }
        .en { 
          font-size: 14px;
          font-weight: $weight-semibold;
          line-height: 1.43;
          letter-spacing: 0.8px;          
        }
    }


  }

}

