@import 'assets/scss/global';
$slide-ruler-margin: -77px;


.column {
  @include testShadow();
}


.dir {
  height: 80%;
}

.slider-title {
  @include typo($size-2, $weight-extraBold, $line-height-2, $letter-spacing-3, left);
}

.sliders {
    overflow:hidden;

    .slider-item-div {
      @include size(20%, auto);
    }
    p { color: #333; }
    .ko { 
        @include typo($size-2, $weight-bold, $line-height-2, $letter-spacing-3, center);
    }
    .en { 
      @include typo($size-4, $weight-medium, $line-height-3, $letter-spacing-3, center);
    }
}

