@import 'assets/scss/global';
//percentage(0.2) => 20%
//percentage(100px / 50px) => 200%



.slider-container {
  @include size(100%, auto);
  @include flex(flex, row nowrap);
  justify-content: space-between;

  .dir {  
    @include size(5%, 100%);
    margin: 0 auto;
    align-self: center;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }


  .sliders {
    @include size(90%, auto);
    @include flex(flex, row nowrap);
    justify-content: space-around;
    overflow:hidden;
    
    .slider-item {
        @include testTransition();
        @include size(20%, auto);
        flex-shrink: 0;

        margin: 2px;
        text-align: center;

        .ko { font-size: $size-normal; }
        .en { font-size: $size-small; }
    }
  }

}

