@import 'assets/scss/global';


.columns {
    
    .btn-social {
        
        @include min-size(25px, 25px);
        margin: 0 2px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        opacity: $icon-opacity-before;

        &:hover {
            opacity: 1;
        }
    }
}
