

<a href="#"  (click)="socialShare('facebook')" alt="Share on Facebook">
    <img src="/assets/images/icons/facebook_sketch.png">
</a>

<a href="#" (click)="socialShare('twitter')" alt="Share on twitter">
    <img src="/assets/images/icons/twitter_sketch.png">
</a>


<a href="#"  (click)="socialShare('instagram')" alt="Share on instagram">
    <img src="/assets/images/icons/instagram_sketch.png">
</a>

<a href="#" (click)="socialShare('copylink')" alt="Share on link">
    <img src="/assets/images/icons/link.png">
</a>