
<div class="columns">
    <div class="column is-paddingless is-3 btn-social" (click)="socialShare('facebook')" 
         [style.background-image]="'url(assets/images/icons/fb_icon.png)'" alt="Share on Facebook">
         &nbsp;
        <!--<img class="icon-social" src="/assets/images/icons/fb_icon.png">-->
    </div>
    <div class="column is-paddingless is-3 btn-social" (click)="socialShare('twitter')" alt="Share on twitter"
        [style.background-image]="'url(assets/images/icons/tw_icon.png)'" >
        &nbsp;
        <!--<img class="icon-social" src="/assets/images/icons/tw_icon.png">-->
    </div>
    <div class="column is-paddingless is-3 btn-social" (click)="socialShare('instagram')" 
        [style.background-image]="'url(assets/images/icons/insta_icon.png)'" alt="Share on instagram">
        <!--<img class="icon-social" src="/assets/images/icons/insta_icon.png">-->
        &nbsp;
    </div>
    <div class="column is-paddingless is-3 btn-social" (click)="socialShare('copylink')" alt="Share on link"
        [style.background-image]="'url(assets/images/icons/share_icon.png)'" >
        &nbsp;
        <!--<img class="icon-social" src="/assets/images/icons/share_icon.png">-->
    </div>
</div>
