




// custom variables

$size-1: 1.875rem;
$size-2: 1.125rem;
$size-3: 1.109375rem;
$size-4: 0.875rem;


// 자간
$letter-spacing-1: 0.08125rem;
$letter-spacing-2: 0.0625rem;
$letter-spacing-3: 0.05rem;

// 줄간격 변수
$line-height-1: 0.83;
$line-height-2: 1.39;
$line-height-3: 1.43;



// 굵기
$weight-bold: bold;
$weight-medium: 500;
$weight-extraBold: 800;



/* color */
$main-color: #FFEF33;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 20%);

$font-color-1: #333;
$text-color: #333;
$text-item: #1d1d1d;

    // 상세페이지 hover border color
    $hover-active: #262626;
    $hover-inactive: #f4f4f4;


    // tooltip
    $tooltip-bg: #333;
    $tooltip-text: #fff;

    // ruler
    $rulerCol: #333;

//card for cup grid.
$cardWidth: 300px;
$cardHeight: 410px;

//img size
$imgWidth: 200px;
$imgHeight: 320px;

//ruler option
$ruler-zIndex: 100;
$rulerHeight: -120px;
$rulerWeight: 1px;



// GRID
$base: 900px;
