

/* color */
$main-color: #ffef33;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 20%);



// custom variables
$size-smaller: 0.6rem;
$size-smallest: 0.4rem;


//card for cup grid.
$cardWidth: 300px;
$cardHeight: 410px;

//img size
$imgWidth: 200px;
$imgHeight: 320px;

//ruler option
$rulerHeight: -120px;
$rulerCol: $grey;
$rulerWeight: 1px;