<nav class="nav">
  <div class="container">

    <div class="nav-left">
      <a class="logo" class="nav-item" routerLink="/cups">
          <img class="logo" src="assets/images/icons/logo.png" alt="logo">
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-item">
        <span class="icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </a>
    </div>

  </div>
  
</nav>


<!-- main content -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
  
    <div class="container">
      <div class="columns">
        <div class="column">
          <p class="comment"><strong>누군가 정리해줬으면 좋겠다 싶었는데....</strong></p>
          <p>스투키 스튜디오</p>
          <br/>
          <p class="email">stuckyi.info@gmail.com</p>
        </div>
        <div class="column">
          <p><a href="#"> 활용한 데이터에 관하여 </a></p>
          <p><a href="#"> 프로젝트에 기여하기    </a></p>
        </div>
        <div class="column">
          <p> 최종 업데이트 일자 : 2016-03-03</p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="크리에이티브 커먼즈 라이선스" 
              style="border-width:0" 
              src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
          </a>
        </div>
      </div>
    </div>
  
  
</footer>


  