
<!-- search -->
<div class="container">
  <div class="search">
    <div class="blank"></div>
    <div class="search-box">
        <search></search>
    </div>
      
  </div> 
</div>


<!-- navigation -->
<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="logo" class="nav-item" routerLink="/cups">
          <img width="50px" height="50px" src="assets/images/icons/logo.png" alt="logo">
      </a>
    </div>
  </div>
</nav>


<!-- main content -->
<div class="main">
    <router-outlet></router-outlet>
</div>


<!-- footer -->
<footer class="footer">
    <div class="columns is-multiline">
      
      <div class="column is-12">
        <p class="title">
          누군가 정리해줬으면 좋겠다 싶었는데 &#8230; .
        </p>
      </div>

      <div class="column">
        <p>스투키 스튜디오</p>
        <p class="email">stuckyi.info@gmail.com</p>
      </div>

      <div class="column">
        <p><a routerLink="/source"> 활용한 데이터에 관하여 </a></p>
        <p><a routerLink="/contributing">프로젝트에 기여하기</a></p>
      </div>

      <div class="column">
        <p> 최종 업데이트 일자 : 2016. 03. 03</p>
        <img src="/assets/images/icons/cc.png" alt="license" />
      </div>
    </div>

  
  
  
</footer>


  