
<!-- navigation -->
<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="logo" routerLink="/cups">
          <img width="50px" height="50px" src="assets/images/icons/logo.png" alt="logo">
      </a>
    </div>
    <div class="nav-right search-wrapper">
      <div class="search-box is-hidden-touch">
        <search></search>
      </div>
    </div>
  </div>
</nav>





<!-- main content -->
<div class="main">
    <router-outlet></router-outlet>
</div>

<ui-footer></ui-footer>