@import 'assets/scss/global';


$z-index-nav: 200;
$z-index-main: 100;

.nav { z-index: $z-index-nav; overflow: scroll; }
.main { z-index: $z-index-main; }

.nav-item {  img { max-height: 3rem; } }

.footer {
    @include size(100%, 168px);
    background-color: $main-color;
    padding: 2rem 0.5rem 1rem;
    line-height: 170%;

    p { font-size: $size-normal; }
    .comment { font-size: $size-medium; }
    .email { font-size: $size-small; }

    a {
        color: $link;
        &:hover { color: $link-hover; }
    }

    img {
        @include size(auto, 24px);
    }

}
