
<section class="section page-margin">
  <div class="container">
      <div class="column">
        <h1 class="title is-center"> 정보 출처에 관하여 </h1>
        <br/>
        <p class="subtitle is-6"> 생리컵 제품 브랜드 홈페이지 및 생리컵 정보를 정리해둔 해외 웹사이트를 통해 정보를 수집하였습니다. 생리컵 정보를 정리해둔 해외사이트 목록은 다음과 같습니다.</p>

        <p>목록 1</p>
        <p>목록 2</p>
        <p>목록 3</p>
    </div>


    <div class="column">
      <h1 class="title is-center"> 데이터를 선택하는 기준 </h1>
      <p> 수집한 제품 정보는 명칭과 기준, 그에 따라 값이 다른 경우가 종종 있습니다. 정보가 많이 다른 경우에 일차적으로 다수의 값을 택하고, 더 확실히 하기 우해서 해당 브랜드에 직접 문의하여 확인하고 있습니다.</p>
    </div>



    <div class="column">
      <h1 class="title is-center"> 도면을 볼 때 주의사항 </h1>

      <p> 도면은 브랜드 홈페이지 및 구글 등 검색 엔진을 통해 제품 사진을 수집하고, 길이 값을 확인하여 제작하였습니다. 인터넷에서 수집할 수 있는 사진은 생리컵 제품별로 촬영 각도, 조명이 다릅니다. 또한 브랜드에 따라 정확한 수치를 제공하지 않는 경우도 있습니다.</p>

      <p>
        실제 제품을 가지고 있지는 않기 때문에 모든 값을 직접 확인하지는 못했습니다. 따라서 도면이 정확히 실제 제품과 일치하지 않는 경우가 있을 수 있습니다.</p>
    </div>
  </div>
  
</section>
