

<!--- ver 2 strat -->

<section class="hero ">
  <div class="hero-body">
    <div class="container">
     <p class="title">활용한 데이터에 관하여</p>
    </div>
  </div>
</section>


<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-6 is-offset-3 ">
          <div class="index"><p class="hero-title">1</p></div>
            <p class="hero-title">생리컵 정보의 출처에 대해</p>
            <p class="hero-text">
              제품별 공식 홈페이지 및 관련 사이트에서 정보를 수집하였습니다.
            </p>
            <p class="hero-text">정보 수집에 활용한 웹페이지의 목록은 다음과 같습니다.</p>
        </div>
        
        <div class="column is-4 is-offset-4 site-box-container">
          <div class="columns is-multiline site-box">
            <div class="column is-10">
              <p>Menstral Cup Comparison Chart</p>
              <p>@putacupinit.com</p>
            </div>
            <div class="column is-1 is-offset-1">
              <img class="icon-link" (click)="openWindow('putacupinit.com')" src="/assets/images/icons/link_hover@2x.png"/>
            </div>
          </div>

          <div class="columns is-multiline site-box">
            <div class="column is-10 ">
              <p>Basic Comparison Tool</p>
              <p>@menstrualcupreviews.net</p>
            </div>
            <div class="column is-1 is-offset-1">
              <img class="icon-link" (click)="openWindow('menstrualcupreviews.net')" src="/assets/images/icons/link_hover@2x.png"/>
            </div>
          </div>
          

          <div class="columns is-multiline site-box">
            <div class="column is-10">
              <p>Cup Size Comparison Charts</p>
              <p>@menstrualcups.wordpress.com</p>
            </div>
            <div class="column is-1 is-offset-1">
              <img class="icon-link" (click)="openWindow('menstrualcups.wordpress.com')" src="/assets/images/icons/link_hover@2x.png"/>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>



<section class="hero  ">
  <div class="hero-body">
    <div class="container">
     <div class="column is-6 is-offset-3 ">
        <div class="index"><p class="hero-title">2</p></div>
        <p class="hero-title">데이터를 선택하는 기준</p>
        <p class="hero-text">
          제품 정보가 사이트별로 차이가 있는 경우가 있었습니다.
        </p>
        <p class="hero-text">
          이런 경우 제품 사진과 더 비슷한 값으로 선택했습니다.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="hero ">
  <div class="hero-body">
    <div class="container">
     <div class="column is-6 is-offset-3 ">
          <div class="index"><p class="hero-title">3<p></div>
          <p class="hero-title">도면을 볼 때 주의 사항</p>
          <p class="hero-text">
            모든 생리컵 도면은 정면에서 보는 시점으로 제작하였습니다. 
          </p>
          <p class="hero-text">
            데이터를 바탕으로 제작하였으나, 직접 모든 제품을 확인한 것은 아닙니다.
          </p>
          <p class="hero-text">
            따라서, 도면이 실제 제품과 정확히 일치하지 않을 수 있습니다.
          </p>
            
          
          
      </div>
    </div>
  </div>
</section>


<section class="hero last">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="container">
     <div class="column is-6 is-offset-3 contributor">
          <p class="hero-title">실제 제품과 다른 정보를 발견하셨나요?</p>
          <p class="hero-text">
            이 사이트에 기재된 정보가 실제 제품과 다른 부분이 있다면 알려주세요!
          </p>
          <br/><br/>
          <a routerLink="/contributing">프로젝트에 기여하기</a>
      </div>
    </div>
  </div>
</section>
