<div class="warpper">
  <img (click)="onSearch()" src="../../assets/images/icons/search.png"/>
  <ng2-completer #spy
            class="isClass"
            [(ngModel)]="searchStr"
            [datasource]="dataService"
            [minSearchLength]="0"
            [placeholder]="'페미사이클'"
            [textNoResults]="'찾을 수 없네요.'"
            [textSearching]="'찾아보고 있습니다.'"
            (selected)="onSelect(spy)"
            >
  </ng2-completer>
</div>

<!--

<div class="modal" [class.is-active]="isSearch">
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-card">
    
    <section class="modal-card-body">
      <button (click)="close()" class="delete"></button>
      <div class="searchBox">
        <ng2-completer
          *ngIf="isSearch"
          [(ngModel)]="searchStr"
          [datasource]="dataService"
          [minSearchLength]="0"
          [placeholder]="'페미사이클'"
          >
        </ng2-completer>
      </div>
    </section>
  </div>
</div>
-->
