<!-- search input  -->
<div class="columns is-marginless is-multiline">
  <div class="column is-12 input-container ">
    <div class="columns is-marginless">
      <div class="column is-10 is-paddingless">
        <input (focusin)="changeStateResult('on')"   (focusout)="changeStateResult('off')" type="text" [(ngModel)]="key"  placeholder="검색" />
      </div>
      <div class="column is-1  search-icon" [style.background-image]="'url(/assets/images/icons/search.png)'">
        <!--&nbsp;-->
      </div>
    </div>

  </div>
  
  <div class="column is-12">
     <div *ngIf="isResult" class="columns is-multiline search-row-wrapper">
       <a *ngFor="let cup of cups | customSearch:key:field:ignoreCase"
            class="column is-12 search-row" [href]="getTargetURL(cup.id)"><span>{{cup.name}}</span></a>
    </div>
  </div>
 
</div>
