@charset "utf-8";
@import 'assets/scss/global';

.typing-box {
    border: 2px solid black;
    @include border-radius(100px);
    padding-left:4px;

    input {
        @include size(percentage(205px/238px), auto);
        @include border-radius(15px);
        
        background-color: none;
        border: none;   
    }
    img { 
        @include size(percentage(20px/238px), auto);
        vertical-align: text-bottom;
    }
    
}

.result {
    @include size(205px, auto); 
    div {
        padding: 2px 8px;
        font-size: $size-small;
        font-weight: $weight-light;
        background-color: $light;

        &:hover {
            background-color: $primary;
            color: white;
        }
    }
}

.isClass {
    animation-duration: 0.5s;
    animation-name: slideInRight !important;
}