@import 'assets/scss/global';
.input-container {
    
    @include size(238px, 40px);
    @include border-radius(100px);
    overflow: hidden;
    padding: 2px;
    border: 2px solid #2a2a2a;
    
    input {
        @include size(204px, 34px);
        border: none;
        box-shadow: none;
        font-size: $size-4;
        padding-left: 4px;
        padding-bottom: 5px;

        &:focus {
            outline:none;
        }
        
    }
    .search-icon {
        @include size(auto, 34px);
        background-repeat: no-repeat;
        background-position: right 36%;

        
    }

}

.search-row-wrapper {
    @include max-size(200px, 180px);
    margin-left:10px;
    overflow: scroll;

    .search-row{
        @include testBg();
        text-align:left;
        p {
            font-size: $size-4;
            font-weight: $weight-light;
            letter-spacing: $letter-spacing-1;
        }
        &:hover {
            background-color: $main-color;
            p {
                font-weight: $weight-bold;
            }
            
        }
    }

}
